<h1>Comment</h1>
<ul>
  <% comments.forEach(function (comment) { %>
  <li>
    <p>
      <a href="/<%= comment.path %>"><%= comment.title %></a>
      <span class="comment-date"><%= formatDate(comment.updated) %></span>
    </p>
  </li>
  <% }); %>
</ul>
