<h1>Comment</h1>
<ul>
  <% comments.forEach(function (comment) { %>
  <li>
    <p><a href="/<%= comment.path %>"><%= comment.title %></a>&nbsp;<%= formatDate(comment.updated) %></p>
  </li>
  <% }); %>
</ul>
