<p><%= total + (total == 1 ? " result" : " results") %> found for '<%= query %>'</p>
<ol>
  <% results.forEach(function (result) { %>
  <li><a href="<%= result.path %>"><%= result.title %></a></li>
  <% }); %>
</ol>
